<!--<h1>Books#show</h1>-->
<!--<p>Find me in app/views/books/show.html.erb</p>-->

<div class="show-box">

  <p class="success"><%= flash[:notice] %></p>

  <h4>Title:</h4>
  <p><%= @book.title %></p>

  <h4>Body:</h4>
  <p><%= @book.body %></p>

  <%= link_to "Edit", edit_book_path(@book) %>
  |
  <%= link_to "Back", books_path %>

</div>